* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-image: url("https://www.freepik.com/free-psd/donate-blood-campaign-banner-design_10336125.htm#fromView=keyword&page=1&position=1&uuid=d5671d10-a22c-403f-9823-2429a167b55e&query=Blood+donation");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(6px);
  padding: 25px;
  width: 90%;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  text-align: center;
}

h1, h2 {
  color: #c40000;
}

p {
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #c40000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #a30000;
}

.secondary {
  background: #777;
}

.secondary:hover {
  background: #555;
}

.hidden {
  display: none;
}

#results {
  margin-top: 15px;
  text-align: left;
}

.donor {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}



